<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eventmanagement">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="EventManagement"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StudentRegisterActivity"
            android:exported="false"/>


        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />

        <activity
            android:name=".StudentLoginActivity"
            android:exported="false" />


        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />


        <activity
            android:name=".RegisterEventActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEventActivity" />
        <activity
            android:name=".ViewEventsActivity" />
        <activity android:name=".ManageEventsActivity" />
        <activity android:name=".EditEventActivity" />
        <activity android:name=".ViewRegistrationsActivity" />




    </application>


</manifest>
